*{
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(76, 64, 121);
}

.container {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(76, 64, 121);
    color: white;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 100px;
}

.game-container {
    display: flex;
    justify-content: space-between;
}

.items {
    cursor: pointer;
    position: relative;
    padding: 10px;
    transition: ease-in-out .5s;
}

.items:hover {
    bottom: 5px;
    -webkit-box-shadow: 10px 10px 22px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 22px -1px rgba(0,0,0,0.75);
box-shadow: 10px 10px 22px -1px rgba(0,0,0,0.75);
background-color: rgb(66, 50, 121);
}

.items span {
    margin: 0px 30px;
}

.score-area {
    width: 100%;
    height: 250px;
    border: 1px solid black;
    margin: 100px 0;
}

p {
    text-align: center;
    font-size: 35px;
    margin-top: 60px;
}

p.result {
    font-weight: bold;
}

.btn {
    display: flex;
    justify-content: space-between;
}

button {
    width: 250px;
    height: 50px;
    margin-top: 10px;
    font-size: 35px;
    color: white;
    border: none;
    border-radius: 5px;
    position: relative;
    transition: ease-out .5s;
    -webkit-box-shadow: 10px 10px 22px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 22px -9px rgba(0,0,0,0.75);
box-shadow: 10px 10px 22px -9px rgba(0,0,0,0.75);

}
button:hover {
    top: 2px;
    box-shadow: none;
}
.finish{ 
    background-color: rgb(236, 70, 78);
    margin-right: 25px;
    display:none;
}

.restart {
    background-color: rgb(0, 140, 221);
    margin-left: 25px;
    display:none;
}
i span { 
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
}